            /* Started from "Style Guide Template. Made by Paul Brokenshire at SFU for SFU-IAT339 */

            * {
                /*Set everything to use border-box model*/
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }

            body {
                background-color: #FFF;
            }

            .main-container {
                margin: auto;
                min-height: 100vh;
                position: relative;
            }

            html {
                font-size: 16px;
            }

            /*---------Home Page---------*/

            .top-nav {
                display: flex;
            }

            .top-nav-spread {
                display: flex;
                width: 100%;
                position: sticky;
                top: 0;
                z-index: 1;
                background-color: white;
                -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
            }

            .top-nav-spread nav {
                margin-right: 2em;
            }

            .top-logo {
                margin-left: 2rem;
                margin-top: 0.5rem;
                margin-top: 0.5rem;

            }

            /*To center with "margin:auto" an  img needs to be set to display block otherwise its inline by default and has no margin
            https://stackoverflow.com/questions/3015223/why-doesnt-marginauto-center-an-image*/
            /*.top-logo-section {
                margin: ;
                padding: 0;
            }
            Hero Section*/

            .hero {
                margin: 1rem auto;
                justify-content: center;
                display: flex;
            }

            .hero img {
                max-width: 1200px;
            }

            /*Cards to store categories*/
            /*How to select text in other text: https://stackoverflow.com/questions/4622808/html-changing-colors-of-specific-words-in-a-string-of-text/4622818*/

            .red-bold-text {
                color: #FF220C;
                font-weight: 600;
            }

            .store-cards {
                padding: 0rem;
                margin-top: 4rem;
            }

            .store-cards h2 {
                margin-left: 1rem;
                margin-right: 1rem;
            }

            .category-card {
                margin-bottom: 2rem;
            }


            .category-card-background {
                background-color: white;
                margin: 0rem 1rem 1rem 1rem;
                padding: 0rem 1rem;
                text-align: center;
            }

            .category-card img {
                position: relative;
                margin: auto;
                display: block;
                /*                height: 300px;*/
                width: 100%;
            }

            .category-card h3 {
                padding-bottom: 0.5rem;
            }

            .store-cards a {
                text-decoration: none;
            }

            /*Store Start*/

            .side-menu-container {
                width: 20%;
            }

            .side-menu {
                padding: 1rem 1.5rem 0 2rem;
                width: 20%;
                height: 100vh;
                box-shadow: 6px 0px 10px -5px #888888;
                /*Box Shaddow only on one side     https://stackoverflow.com/questions/5115427/how-can-i-add-a-box-shadow-on-one-side-of-an-element*/
                position: fixed;
                z-index: 3;
            }

            .side-menu h2 {
                border-bottom: 2px solid #999;
                /*                border-top: 2px solid #999;*/
                padding-left: 1rem;
                margin-right: 2rem;
                margin-top: 2rem;
                margin-bottom: 0.6rem;
                margin-right: 1rem;

                line-height: 2.5rem;
            }

            .side-menu h3 {
                color: #555;
                padding-left: 1rem;
                padding-right: 2rem;
                margin-top: 0.5rem;
                text-align: right;
            }

            .side-menu h3:hover {
                color: #FF220C;
            }

            #selected-side-nav {
                color: #FF220C;
            }

            .product-area-container {
                display: flex;
                flex-wrap: wrap;
                width: 80%;
                padding: 3rem 3rem 0 3rem;


            }

            .product-listing {
                /*                width: 25%;*/
                text-align: center;
                display: flex;
                flex-direction: column;
                margin-top: 2rem;

                position: relative;
            }

            .product-listing img {
                width: 100%;
                margin: 1rem 0 0 0;
                padding: 0;
            }

            .product-listing h3 {
                margin-top: 0.3rem;
            }

            .product-listing h4 {
                margin-top: 0;
            }

.product-listing a {
    position: absolute;
    width: 100%;
    height: 100%;
}

            .card-overlay {
                /*Using opacity instead of display for transitions https://gist.github.com/richardscarrott/6457438*/
                opacity: 0;
                width: 100%;
                height: 80%;
                position: absolute;
                background-color: rgba(255, 255, 255, 0.7);
                transition: opacity 0.3s ease;
            }

            .product-listing:hover .card-overlay {
                opacity: 1;
            }

            /*Footer Start*/

            #footer {
                background-color: #F6F7EB;
                width: 100%;
                height: 100%;
            }

            #footer img {
                width: 128px;
                height: 128px;
            }

            #footer section {
                color: 212121;
                padding: 0.6rem;
                text-align: center;
            }

            /* Footer END */
            /*--------Old Style Guide Stuff--------*/

            section nav {
                margin: 0rem;
                width: 100%;
            }

            section {
                margin: 1rem auto;
                padding: 0rem;
                width: 100%;
            }

            section h3 {
                margin-bottom: 0.5rem;
            }

            section p {
                margin-top: 0;
            }

            /*---------CONTACT FORM START---------*/

            .contact-label-container {
                text-align: right;
                padding: 0.5em 0 0.5rem 2rem;
            }

            .contact-field-container {
                padding: 0 2rem 0 0.5rem;
            }

            .contact-label {
                background-color: #042A2B;
                padding: 0.5em 2em;
                color: #FFF;
                text-align: right;
            }

            .contact-small-input {
                width: 100%;
                height: 100%;
                padding: 0.6rem;
                border: 2px solid #BFBFBF;
            }

            /*
How to change the input placeholder color 
https://www.w3schools.com/howto/howto_css_placeholder.asp
*/
            .contact-small-input::placeholder {
                color: #fff;
            }

            .contact-large-input::placeholder {
                color: #fff;
            }

            .contact-small-input:focus {
                border: 2px solid #042A2B;
                outline: none;
            }

            .contact-large-input {
                width: 100%;
                height: 200px;
                padding: 0.6rem;
                border: 2px solid #BFBFBF;
                resize: none;
            }

            .contact-large-input:focus {
                border: 2px solid #042A2B;
                outline: none;
            }

            .contact-submit-button {
                background-color: #FF220C;
                border: none;
                padding: 1em 2em;
                margin-top: 1rem;
                color: #FFF;
                width: 100%;
            }

            /*---------CONTACT FORM END---------*/
            /*---------CART START---------*/

            .cart-header {
                border-bottom: 1px solid #ccc !important;
            }

            .cart-product {
                padding: 2em 0em;
            }

            .cart-header h3 {
                color: #b3b3b3;
            }

            /*---------CART END---------*/
            /*---------CART SUMNMARY START---------*/

            .cart-summary {
                background-color: #e6e6e6;
                padding: 0;
                margin: 0;
                height: 100%;
            }

            .cart-summary .container {
                padding: 0.5em 1em;
            }

            .cart-summary a {
                width: 100%;
                color: white;
                background-color: red;
                padding: 1em;
                text-align: center;
            }

            /*---------CART SUMNMARY END---------*/
            /*--------- CONTENT BANNER START---------*/

            .content-banner {
                background-color: #042A2B;
            }

            .content-banner article {
                padding: 2em;
            }

            .content-banner div {}

            /*--------- CONTENT BANNER END---------*/
            /*  INTERACTIVE ELEMENTS ------------------- */
            /* Styling for the navigation button */
            /*.button-nav {

            /* 
  INTERACTIVE ELEMENTS -------------------
*/
            /* Styling for buttons */
            /*Shopping Cart Button*/
            div.button-cart {
                position: relative;
            }

            button.button-cart {
                background: rgba(0, 0, 0, 0);
                padding: 0 0 0rem 0.9rem;
                border: 1px solid #FF220C;
                border-radius: 5px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 1.2rem;
                color: #121212;
                vertical-align: middle;
                text-align: left;
                height: 2.75rem;
                width: 7.5rem;

                cursor: pointer;

                position: relative;
            }

            button.button-cart:hover {
                color: #FF220C;
            }

            .button-cart img {
                right: 0.9rem;
                top: 0.75rem;
                position: absolute;
            }

            /*Go Shop Button*/

            .button-shop {
                display: inline-block;
                padding: 0.6rem 1rem;
                color: #fff;
                background-color: #FE210C;
                border-radius: 0.25em;
                text-decoration: none;
                -webkit-transition: background-color 0.2s ease-in;
                transition: background-color 0.2s ease-in;
            }

            .button-shop:hover,
            .button-shop:focus {
                background-color: #F65659;
            }

            /*End Go Shop Button*/
            /*Submit Button*/

            .button-submit {
                display: inline-block;
                padding: 0.5em 0.75em;
                color: #FFF;
                background-color: #333;
                border-radius: 0.25em;
                text-decoration: none;
                -webkit-transition: background-color 0.5s ease-out;
                transition: background-color 0.5s ease-out;
            }

            .button-submit:hover,
            .button-submit:focus {
                background-color: #777;
            }

            /*End Submit Button*/

            .intext-link {
                color: #F43C40;
                text-decoration: none;
                -webkit-transition: background-color 0.3s ease-out;
                transition: background-color 0.3s ease-out;
            }

            .intext-link:hover {
                color: #FFF;
                background-color: #F43C40;
                padding: 0.1em 0.1em;
                border-radius: 0.25em;
            }

            /* How to make forms https://www.w3schools.com/html/html_forms.asp */

            .input-text {
                width: 20%;
                padding: 0.5rem;
                border: 1px solid #9AB29A;
                border-radius: 5px;
            }

            .input-text:focus {
                border: 2px solid #9AB29A;
                outline: none;
            }

            /* ------------------- TEXT ELEMENTS -------------------*/

            p,
            h1,
            h2,
            h3 {
                /*Changing the color of all text*/
                color: #212121;
            }

            p {
                font-family: 'Hind', sans-sarif;
                font-weight: 400;
                font-size: 1rem;
                padding: 1rem;
                /*16px*/
            }

            em {
                font-family: 'Hind', sans-sarif;
                font-weight: 600;
                font-style: normal;
                font-size: 1rem;
                /*16px*/
            }

            h1 {
                font-family: 'Montserrat', sans-sarif;
                font-weight: 700;
                font-size: 2.875rem;
                /*46px*/
                margin-bottom: 1rem;
                margin-top: 1rem;
            }

            h2 {
                font-family: 'Hind', sans-sarif;
                font-weight: 500;
                font-size: 2.125rem;
                /*34px*/
                margin-bottom: 1rem;
                margin-top: 0.2rem;
            }

            h3 {
                font-family: 'Hind', sans-sarif;
                font-weight: 500;
                font-size: 1.25rem;
                /*24px*/
                margin-bottom: 0.5rem;
            }

            a {
                text-decoration: none;
            }

            .bullet-list {
                list-style: none;
                padding: 0 1rem;
            }

            /* How to color bullet points https://www.w3schools.com/howto/howto_css_bullet_color.asp*/

            .bullet-list-item::before {
                content: "\2022";
                /* Unicode for bullet point */
                color: #F43C40;
                display: inline-block;
                margin: 0.5rem 1rem 0 0;
            }

            .numbered-list {
                list-style: upper-roman
            }

            /* ------------------- COMBINED ELEMENTS ------------------- */
            /* How to make nav from https://www.w3docs.com/learn-html/html-nav-tag.html*/

            nav {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                margin-left: auto;
                align-items: center;
            }

            nav a.main-nav-text {
                position: relative;
                color: #000000;
                margin: 1rem 2.5rem;
                display: inline;
                text-decoration: none;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 1.2rem;
                z-index: 2;
                transition: 0.4s;
                /*https://www.w3schools.com/howto/howto_css_transition_hover.asp*/
            }

            nav a.main-nav-text:hover {
                /*    background-color: #AAAAAA;*/
                color: #fff;
            }

            /* Underline Animation Modified from https://tobiasahlin.com/blog/css-trick-animating-link-underlines/*/

            nav a.main-nav-text::before {
                content: "";
                position: absolute;
                margin-left: -15%;
                width: 130%;
                height: 34px;
                bottom: -6px;
                left: 0;
                background-color: #FF3637;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0s ease-in-out 0s;
                transition: all 0.2s ease-in-out 0s;
                z-index: -1;
            }

            nav a.main-nav-text:hover::before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                z-index: -1;
            }

            /* Help on how to make product cards from https://www.w3schools.com/howto/howto_css_product_card.asp */

            .product-card {
                border: 2px solid #ccc;
                max-width: 300px;
                margin: auto;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
            }

            .product-card img {
                width: 100%;
            }

            /* Grid stuff */

            .container {
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;
            }

            .container div {}

            /*Sizes from MailChips style guide https://ux.mailchimp.com/patterns/grid*/

            .size1of8 {
                width: 12.5%;
            }

            .size1of4,
            .size2of8 {
                width: 25%;
            }

            .size1of3 {
                width: 33.33%;
            }

            .size3of8 {
                width: 37.5%;
            }

            .size1of2,
            .size2of4,
            size4of8 {
                width: 50%;
            }

            .size5of8 {
                width: 62.5%;
            }

            .size2of3 {
                width: 66.67%;
            }

            .size3of4,
            size6of8 {
                width: 75%;
            }

            .size7of8 {
                width: 87.5%;
            }

            .size1of1,
            .size2of2,
            .size3of3,
            .size4of4,
            .size8of8 {
                width: 100%;
            }

            /* Underline color help https://www.w3schools.com/cssref/css3_pr_text-decoration-color.asp*/

            .product-card h3 {
                margin: 1rem;
                display: inline-block;
                text-decoration: underline;
                text-decoration-color: red;
            }

            .product-card p {
                margin: 1rem;
            }

            .product-price {
                float: right;
            }

            /* Media queries */

            @media(min-width:1200px) {
                section {
                    max-width: 1200px;
                }

                section nav {
                    max-width: 1200px;
                }
            }

            @media(max-width:1000px) {
                nav {
                    justify-content: center;
                    padding-bottom: 0.5rem;
                }

                /* Old Nav
                .top-nav {
                    flex-direction: column;
                }
                .top-nav a {
                    display: flex;
                    justify-content: center;
                    text-decoration: none;
                }
                
*/
                .top-nav-spread a {
                    display: flex;
                    justify-content: center;
                }

                .top-nav-spread {
                    flex-direction: column;
                    justify-content: center;
                    position: sticky;
                    top: -8rem;
                }

                .top-nav-spread nav {
                    justify-content: center;
                    display: flex;
                    margin: auto;
                }

                /* Reduce the spacing between the links on the smaller screen so they don't reflow as early. */
                .main-nav-text {
                    margin: 0.5rem 0.5rem;
                }

                .top-logo {
                    width: 260px;
                    margin-right: 0;
                    margin-left: 0;

                }

                .hero img {
                    width: 100%;
                    min-width: 900px;
                }

                .contact-label-container {
                    text-align: left;
                    /*                    padding: 0.5em 0 0.5rem 2rem;*/
                    padding: 0.5rem 8rem 0.5rem 8rem;
                }

                .contact-field-container {
                    padding: 0 8rem 0 8rem;
                }

                /*
                .product-listing {
                    width: 50%;
                }
*/

                .size1of8 {
                    width: 25%;
                }

                .size1of4,
                .size2of8 {
                    width: 50%;
                }

                .size1of3 {
                    width: 100%;
                }

                .size3of8 {
                    /*width:37.5%; Not sure what to do about this*/
                }

                .size1of2,
                .size2of4,
                size4of8 {
                    width: 100%;
                }

                .size5of8 {
                    width: 100%;
                }

                .size2of3 {
                    width: 100%;
                }

                .size3of4,
                size6of8 {
                    width: 100%;
                }

                .size7of8 {
                    width: 100%;
                }

                .size1of1,
                .size2of2,
                .size3of3,
                .size4of4,
                .size8of8 {
                    width: 100%;
                }
            }

            @media(max-width:640px) {
                .top-nav nav {
                    flex-direction: column;
                }

                .top-logo {
                    width: 220px;
                }

                .hero img {
                    min-width: 720px;
                }

                .contact-label-container {
                    display: none;
                }

                .contact-field-container {
                    padding: 0;
                    width: 80%;
                    margin: 0 auto;
                }

                /*                This makes the placeholder text visible by changing the color from white. Bit of a hack but it's the only way*/
                /*                https://www.w3schools.com/howto/howto_css_placeholder.asp*/

                .contact-small-input::placeholder {
                    color: #042A2B;
                }

                .contact-large-input::placeholder {
                    color: #042A2B;
                }

                .size1of4,
                .size2of8 {
                    width: 100%;
                }

                .size1of8 {
                    width: 100%;
                }

                #top-nav a {
                    width: 100%;
                }
            }
